:root {
    --bg-color: #440a67;
    --soft-bg-color: #be8ddd;
    --txt-color: #fff;
}

* {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

/* Elements */

body {
    background: var(--bg-color);
    color: var(--txt-color);
    max-height: 100vh;
    max-width: 75%;
    margin: 0 auto;
}

i::before {
    content: "";
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0 auto;

    width: 9rem;
    height: 9rem;

    border: 3px solid #e7c2ff7c;
    border-radius: 100%;
}
/* 
#mButtons div:nth-of-type(1) i::after {
    content: "";
    position: absolute;
    left: 145px;
    top: 105px;
    transform: rotate(20deg);
    z-index: 1;
    width: 5.3125rem;
    height: 5px;
    background: #be8ddd;
    https://api.jquery.com/offset/
}
*/

i {
    /*  transition-property: color, box-shadow; */
    transition: all 250ms ease-out;
    border-radius: 100%;
    margin: 0 auto;
}
i:hover {
    box-shadow: 0 0 15px 2px var(--soft-bg-color) inset;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 75px;
}

button {
    margin: 0 auto;
    background: transparent;
    color: var(--txt-color);
    padding: 10px 35px;
    border: 3px solid rgba(255, 255, 255, 0.425);
    border-radius: 15px;
}

/* Classes */
.btnAnimation {
    color: #673586;
}

/* Ids */
#result {
    /* visibility: hidden;  */
    position: absolute;
    margin: 0 auto;

    max-width: 26rem;
    height: 4.5rem;

    border: 3.5px solid rgba(255, 255, 255, 0.5);
    border-radius: 25px;

    bottom: calc(50vh * 0.5);
    right: 0;
    left: 0;

    font-size: 1.3rem;

    display: grid;
    place-content: center;
}

#title {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    border: 3px solid rgba(255, 255, 255, 0.425);
    border-radius: 15px;
    margin-top: 2rem;
}
#title :first-child {
    display: grid;
    align-items: center;
    padding: 10px;

    font-weight: 900;
    line-height: 20px;
}
#mButtons {
    text-align: center;
    margin-top: 6.5rem;
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
}

#mButtons div {
    padding-left: 0;
}

#mButtons :nth-child(1) i {
    transform: rotate(10deg);
}

#mButtons :nth-child(2) i {
    transform: rotate(10deg);
}

#mButtons :nth-child(3) i {
    transform: rotate(65deg);
}

#score {
    display: flex;
    justify-content: right;
    text-align: center;
}
#score span {
    background: var(--txt-color);
    color: var(--soft-bg-color);
    font-weight: lighter;
    width: 100px;
    min-height: 85px;
    border-radius: 5px;
}

#score span div {
    font-weight: bolder;
    margin-top: 10px;
    color: rgb(121, 106, 128);
    font-size: 2.5rem;
}

/* Animation */
@keyframes blink {
    0% {
        opacity: 100%;
    }
    10% {
        opacity: 10%;
    }
    25% {
        opacity: 75%;
    }
    50% {
        opacity: 10%;
    }
    75% {
        opacity: 75%;
    }
    90% {
        opacity: 25%;
    }
    100% {
        opacity: 100%;
    }
}

/* Media Query */

/* 
    Width: 410px -> working properly, lower than that = button {border} overlap
    
    I could add media query but i already set the max-width on a few things and
    I'm gettin' kinda sleepy already
*/
